/* Global */
body {
  font-family: Rubik;

}

/* Card */
.bg {
  width: 846px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
 
}


.static {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 30px;
  flex: 1;
}

.pic {
  width: 262px;
  height: 219px;
}

.wrench {
  width: 140px;
  height: 172.51px;
  margin-left: 32px;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-and-rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-transform: capitalize;
}

.rating {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stars {
  display: flex;
  gap: 15px;
}

.text-126,
.identifier-number {
  font-size: 14px;
  color: #808080;
}

.identifier-number {
  line-height: 180%;
}
.meta-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.price {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.new-price {
  font-size: 43px;
  font-weight: 500;
  color: #941B0C;
}

.old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #808080;
  opacity: 0.5;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  align-items: stretch;
  height: 60px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f2f2f2 100%
  );

}



.frame-7,
.frame-8 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.frame-7:hover {
  background-color: lightgreen;
}

.frame-8:hover {
 background-color: lightpink;
}


.line-3 {
  border: 1px;
  height: 100%;
  background-color: #808080;
}

.frame-9,
.frame-10 {
  display: flex;
  align-items: center;
}


button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}



/* for the responsiveness  */

@media (max-width: 768px) {
  .bg {
    width: 100%;
  }

  .static {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pic {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .wrench {
    margin: 0;
  }

  .info {
    align-items: center;
  }

  

  .price {
  
    align-items: center;
  }


  .footer {
    flex-direction: column;
    height: auto;
  }

  .line-3 {
    width: 100%;
    height: 1px;
  }

  .frame-7,
  .frame-8 {
    width: 100%;
    padding: 12px 0;
  }
}
